/*reset css*/
html, body, div,iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0;font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin:0;padding:0;}
html{height:100%;overflow-x: hidden;background: #f4f4f4;}
ol, ul{ list-style: none; }
a{text-decoration: none; color:#222c38;outline:none;}
a.disabled{border-color: #c8c9cb;color: #c8c9cb;cursor: not-allowed;}
img{border:0;}
table { border-collapse: collapse; border-spacing: 0; }
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);tap-highlight-color: rgba(0, 0, 0, 0);   -webkit-box-sizing: border-box;box-sizing: border-box;}
body {max-width: 750px;min-width:320px;min-height:100%;margin: 0 auto;background: #f6f6f6;-webkit-tap-highlight-color: rgba(0,0,0,0); font-size:14px;color:#000000;font-family: 'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;}
input, textarea, button,select{ outline: 0; resize: none;font-size:100%;font:inherit;color:inherit;background: rgba(255,255,255,0);}
i{font-style: normal;}
h1,h2,h3,h4,h5,h6{}
p{background-color: transparent;word-break: break-all;}
/*弹出层提示*/
.alert{position:fixed;	z-index: 999;color:#fff;font-size:0.28rem;left:0;top:40%;right:0;margin:auto;width:50%;height:30%;font-size:0.3rem;
       /*display: -webkit-flex;display: flex;-webkit-justify-content: center;justify-content: center;-webkit-align-items:center;align-items: center;*/}
.alert span{line-height: 0.38rem;text-align: center;background: rgba(0,0,0,0.8);border-radius: 0.15rem;padding:0.3rem;display:block;}
/*loading层*/
.loader {
    position: fixed;
    z-index:999;
    padding:10px;
    left:0;top:40%;right:0;margin:auto;width:60px;height:44px;
    background:rgba(0,0,0,.5) url('../images/loading.gif')no-repeat center center;
    background-size:30px 30px;
    border-radius:10px;
    opacity: 0.7;
}

/*app*/
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);border:none;background: none;}
input[type='text'],textarea{-webkit-appearance: none;}/*iphone内阴影*/
textarea::-webkit-scrollbar{display: none;}/*隐藏多文本框滚动条*/
table,tbody,tr,td,th,thead,tfoot{border:1px #e5e5e5 solid;}
/*reset css end*/
/*common css*/
.fl { float:left; display: inline; }
.fr { float:right; display: inline; }
.clear { clear:both; }
.clfix{clear:left;}
.crfix{clear:right;}
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; font-size:0; line-height:0; height:0;}
.clearfix { *zoom:1; /* for IE6 7 */ }
.wraper{overflow:hidden;}
.inner{padding:0 .3rem;}
input::-webkit-input-placeholder { /* WebKit browsers */ color: #444444;} 
.ablock{display: block;}
/*color*/

.color_gray{color:#9f9f9f;}
.bg_gray{background: #ddd;}
.color_items{color:#29bbb1;}
.color_org{color:#fe8c5a;}
.color_y{color:#eab96a;}
.color_ycc{color:#cc9930;}
.color_black{color:#303030;}
.color_error{color:#fd6a56;}
.bg_items{background: #29bbb1;}
.bgff{background: #fff;}

/*间隙*/
.mt20{margin-top:.2rem;}
.mt33{margin-top:33px;}
.mt25{margin-top:25px;}
.mt40{margin-top:.4rem;}
.mt200{margin-top:2rem;}
.mt160{margin-top:1.6rem;}
.mt60{margin-top:.6rem;}
.mt100{margin-top:1rem;}
.mb10{margin-bottom:10px;}
.mt10{margin-top:10px;}
.mt40{margin-top:.4rem;}
.btop{border-top: 1px #efefef solid;}
.bbottom{border-bottom: 1px #bfad9a solid;}
/*按钮*/
.btn{width:100%;display: block;height:44px;line-height: 44px;text-align: center;border-radius: 4px;font-size:18px;}
.btn.disabled{width:100%;display: block;height:44px;line-height: 44px;text-align: center;border-radius: 4px;font-size:18px;background: #cda667;}
.btn_bg_y{background: #eab96a;color:#15130f;}
.btn_bg_disabled{background: #cda667;}
.btn_bg_t{border:1px #81673d solid;color:#eab96a;height:46px;}
/*公共*/
.small{font-size: 11px;color:#777;}
.impordes{font-size: 15px;color:#303030;}
.outerblock{overflow: hidden;}
.outerblock li{border-bottom:1px #efefef solid;}
.outerblock li:last-of-type{border-bottom: none;}
.commontitle{font-size: 12px;color:#666;line-height: .57rem;}
.commontips{color:#eab96a;font-size:11px;line-height: 20px;}
.flex{display:-webkit-box;display: box;-webkit-box-align: center;-webkit-box-pack: start;}
.flex_end{-webkit-box-pack: end;}
/*定位*/
.relpotion{position:relative;}
/*字体图标*/
/*@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}
*/
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    /*font-size:16px;*/
}
/*在线图标*/
@font-face {
  font-family: 'iconfont';  /* project id："166621" */
  src: url('//at.alicdn.com/t/font_rzuyi70djpehr529.eot');
  src: url('//at.alicdn.com/t/font_rzuyi70djpehr529.eot') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_rzuyi70djpehr529.woff') format('woff'),
  url('//at.alicdn.com/t/font_rzuyi70djpehr529.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_rzuyi70djpehr529.svg#iconfont') format('svg');
}