/*Tab底部*/
.footer,.home_page_footer{width:100%;max-width: 750px;margin:0 auto;overflow-x:hidden;-webkit-box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);background: #fff;bottom:0;position: fixed;z-index: 10;}
.footer ul,.home_page_footer ul{overflow: hidden;}
.home_page_footer ul{height:50px;}
.home_page_footer li{width:33.3%;text-align: center;}
.footer ul li{width:25%;float:left;text-align: center;padding:8px 0 5px;font-size: 12px;}
.footer ul li a{line-height: 22px;}
.footer ul li i{font-size:22px;color:#777777;display: block;display: block;}
.footer ul li.active i{color:#eab96a;}
.footer ul li.active a{color:#EAB96A;}
.fixedhead{width:100%;max-width: 750px;margin:0 auto;overflow-x:hidden;top:0;position: fixed;z-index: 10;}
/*
 * 登录/注册
 * */
.loginwraper{background: url(../images/login_bg.jpg) no-repeat center center;background-size:cover;top:0;left:0;right:0;bottom:0;overflow: hidden;position:fixed;max-width:750px;margin:0 auto;z-index: 1;}
.loginpage{position:relative;z-index:2;}
.loginpage .logo{width:1.39rem;height:1rem;margin:1rem auto 0;}
.loginpage .logo img{width:100%;height:auto;display: block;}
.loginbox,.check_sex_type{padding:0 .74rem;margin-top:1.2rem;}
.login_box_btn{padding:0 .74rem;}
.loginbox .user{width:59%;}
.loginbox .valicode{width:50%;}
.login_box_btn .login_group{display:box;display: -webkit-box;-webkit-box-pack: justify;}
.login_box_btn .login_group .btn{width:48%;}
.loginbox .getvalid{text-decoration: none;border:1px #5d5a57 solid;text-align:center;display: inline-block;color:#fff;width:1.8rem;height:28px;line-height: 26px;}
.loginbox .getvalid.disabled{text-decoration: none;border:1px #5d5a57 solid;text-align:center;color:#c8c9cb;display: inline-block;width:1.8rem;height:28px;line-height: 26px;}
.fogetpwd{color:#eab96a;font-size:13px;text-decoration: underline;}
.loginbox div{border-bottom:1px #4a3d28 solid; padding:.3rem 0;margin-top:.16rem;padding-left:.2rem;color:#eab96a;font-size:16px;}
.loginbox input::-webkit-input-placeholder { /* WebKit browsers */ color: #514128 } 
.loginbox div i{margin-right:.3rem;}
.outerlogin,.register_bottom_tips{width:100%;text-align: center;margin-top:1.1rem;}
.outerlogin a{color:#987845;}
.register_bottom_tips a{color:#fff}
.getlogin{text-align: center;font-size:12px;margin-top: 15px;}
.getlogin a{color:#cc9930;}
@media only screen and (max-width: 320px){
	.loginpage .logo{margin:.8rem auto 0;}
	.loginbox{margin-top:.6rem;}
	/*.outerlogin{margin-top:.6rem;}*/
}
@media only screen and (max-height: 500px){
	.register_bottom_tips{margin-top:.8rem;}
}
/*
 * 认证填写
 * */
header{overflow: hidden;}
.header{height:1rem;background: #1a1713;color:#eab96a;text-align: center;line-height: 1rem;font-size:20px;position:relative;}
.header .l_btn{position: absolute;left:0;color:#eab96a;font-size: 14px;top:0;padding:0 .3rem;}
.header .r_btn{position: absolute;right:0;color:#eab96a;font-size: 14px;top:0;padding:0 .3rem;}
.header .ico{font-size: 20px;}
.header .toback{position: absolute;left:.3rem;}
.identify_img_ifo,.identify_basic_info{background: #fff;}
.identify_img_ifo ul,.identify_basic_info{overflow: hidden;}
.identify_img_ifo ul{padding-bottom:.3rem;}
.identify_img_ifo li,.identify_basic_info li{border-bottom:1px #efefef solid;}
.identify_img_ifo li{line-height: 2rem;padding:.4rem 0;}
.identify_basic_info li{line-height: 0.86rem;}
.identify_img_ifo li:last-of-type,.identify_basic_info li:last-of-type{border-bottom:none;}
.iden_r_pic{width:2rem;height:2rem;background: #efefef;border-radius: 5px;/*display: table;*/text-align: center;}
.iden_r_pic img{max-width:100%;height:auto;vertical-align: middle;}
.iden_r_box{position: relative;width:2.5rem;}
.iden_r_box .potion{position:absolute;right:0;top:0;color:#959da7;}
.identify_basic_info .right_ico{color:#959da7;}
.identify_footer_potion{height:42px;width:100%;max-width: 750px;position:fixed;margin:0 auto;line-height: 42px;text-align: center;color:#fff;
background: #eab96a;bottom:0;font-size:18px;}
/*
 * 开始认证
 * */
.identify_info_tips{text-align: center;background: #fff; padding:.6rem 0;}
.iden_tips{margin:0 auto;line-height: 1.8rem;}
.tipscon{line-height: 1.12rem;font-size: 16px;}
.identify_info_des{margin-top:.6rem;}
.identify_info_des li{border:1px #d2d2d2 solid;margin-top:.4rem;border-radius: 10px;background: #fff;}
.identify_info_des li h3{line-height: .9rem;border-bottom:1px #efefef solid;text-indent:.3rem;font-size:15px;color:#000;}
.identify_info_des h3 i{margin-right:6px;font-size: 16px;}
.identify_info_des li .con{padding:.2rem .3rem ;}
.identify_info_des .con p{line-height: 18px;color:#303030;}
/*
 * 选择性别
 * */
.check_sex_title{text-align: center;font-size:18px;color:#eab96a;margin-top:80%;}
.check_sex_login{position: absolute;right:.74rem;top:.8rem;color:#eab96a;letter-spacing: 2px;}
/*
 * 通行证申请
 * */
/*.fixedwraper{position:fixed;top:0;bottom:0;width:100%;max-width:750px;background: #fff;z-index:0;}*/
.identify_jump_tips{padding:1.6rem 0 .6rem;background: transparent;}
.relpotion i{position:absolute;bottom:0;right:-15px;line-height: 0;font-size:30px;}
.jump_tipscon{margin-top:.6rem;font-size:16px;}
/*
 * 个人主页
 * */
.home_items_list,.home_fill_basic_info{background: #fff;}
.home_items_list ul,.home_fill_basic_info ul{padding:0 .3rem;overflow: hidden;}
.home_items_list ul li,.home_fill_basic_info ul li{border-bottom: 1px #efefef solid;line-height:.4rem;padding:.26rem 0;}
.home_items_list ul li .home_items,.home_fill_basic_info ul li .home_items{display: block;display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: justify;}
.home_items_list ul li:last-of-type,.home_fill_basic_info ul li:last-of-type{border-bottom:none;}
.home_items_list .home_list_l_info i,.home_fill_basic_info .home_list_l_info i{font-size:22px;color:#eab96a;position: absolute;}
.home_items_list .home_list_l_info .itemsname{padding-left:.64rem;}
.home_items_list .cashpic{font-size:16px;font-weight: bold;color:#eab96a;margin-right:.3rem;height:.52rem;display: inline-block;line-height: .52rem;;}
.home_items_list .cashpic img{width:auto;height:.52rem;vertical-align:top;}
.homepage{background: url(icon/home_header.jpg) no-repeat center center;background-size:contain;width:7.5rem;height:3.38rem;}
.homepage .header{background: none;}
.homepage .header .install{position: absolute;right:.3rem;top:0;font-size:24px;}
.home_cover_info{padding:.3rem .39rem 0;}
.home_items_list .home_list_r_info i.iconfont{color:#959da7;}
.home_cover_info .avatar{width:1.4rem;height:1.4rem;position:absolute;overflow:hidden;border-radius: 50%;}
.home_cover_info .avatar img{width:100%;height:auto;display: block;}
.cover_left_info{padding-left:1.7rem;color:#fffffe;}
.cover_block{display:-webkit-box;display: box;-webkit-box-align: center;-webkit-box-pack: justify;color:#fff;padding:.22rem 0 .17rem;}
.cover_left_info .flag{display: block;width:.48rem;height:.32rem;margin-top:.15rem;}
.cover_left_info .flag img{width:100%;height:auto;display: block;}
.cover_left_info h3{font-size:16px;}
.cover_left_info h3 i{color:#f1cc7b;margin-left:.1rem;}
.cover_left_info .follow{line-height: .8rem;font-size:13px;color:#fffffe;}
.cover_left_info .follow span{margin-right:.6rem;}
.cover_left_info .follow i{margin-left:.1rem;}
.home_items_list .tips{display: inline-block;width:10px;height:10px;border-radius: 50%;background: #ff545d;margin-right:.1rem;}
.home_items_list .items_basic_list .iconfont{color:#959da7;}
/*
 * 个人信息
 * */
.basic_info_integrity{text-align: center;background: #fff3de;line-height: .9rem;height:.9rem;font-size:13px;color:#674f30;}
.complete_basic_info{text-align: center;color:#666;}
.complete_basic_info a{color:#eab96a;}
/*
 * 基本信息填写
 */
.home_fill_basic_info ul li .home_items{}
.home_fill_basic_info .home_list_l_info{text-align: justify;width:1.8rem;display:-webkit-flex;display: flex;-webkit-justify-content: space-between;justify-content: space-between;}
.home_fill_basic_info .home_list_l_info .itemsname{color:#000;}
.home_fill_basic_info ul{padding:0 0 0 .3rem;overflow: hidden;}
.home_fill_basic_info ul li{padding:.26rem .3rem .26rem 0;}
.home_fill_basic_info .home_list_r_info{width: 5.2rem;text-align: right;}
.home_fill_basic_info .home_list_r_info input{text-align: right;width:78%;color:#454545;}
.home_fill_basic_info .home_list_r_info i.r_icon{margin-left:.1rem;color:#959da7;font-size:16px;}
.hobbies .home_list_l_info{width:2rem;}
.hobbies .home_list_r_info{width:5rem;}
.select_type{width:60%;overflow: hidden;display: inline-block;vertical-align: middle;}
.select_type select{width:56%;margin-right:-20%;border:none;}
.home_fill_basic_info .items_title{line-height: .6rem;height:1rem;background: #efefef;color:#666;font-size:13px;padding:.4rem .3rem 0;}
.short_name{}
.birthdate,.start_sign{position:relative;}
.birthdate i.r_icon,.start_sign i.r_icon{position:absolute;right:.3rem;top:50%;margin-top:-8px;}
.sport_items .home_list_l_info{width:2.8rem;}
.sport_items .home_list_r_info{width:4.2rem;}
.start_sign .outerselect{width:1.6rem;overflow: hidden;float:right;margin-right:.4rem;text-align: right;}
.start_sign .outerselect select{width:1.6rem;margin-right:-.62rem;border:none;text-align: right;}
.birthdate .outerinput{width:2.6rem;overflow: hidden;float:right;margin-right:.4rem;text-align: right;}
.birthdate .outerinput input{width:2.8rem;margin-right:-.92rem;}
.home_fill_basic_info .items_title i{font-size:11px;}
.isDisplay{padding:.4rem .3rem 1rem;background: #f4f4f4;}
.isDisplay span{margin-right:.4rem;}
.isDisplay i{color:#ccc;font-size:16px;margin-right:10px;}
.isDisplay span.choose i{color:#eab96a;}
.home_fill_basic_info .required{position:relative;}
.home_fill_basic_info .required .ico::after{content:'\e617';right:-20px;top:-7px;color:#fd6a56;font-size: 14px;position: absolute;width:22px;height:16px;}
/*
 *基本信息-- 身份认证
 * */
.up_identify_box .title{color:#777;font-size:15px;height:1rem;line-height: 1rem;}
.up_identify_box .title i{font-size:12px;}
.up_identify_box .fact_identify{padding-bottom:.4rem;}
.up_identify_box .example_identify,.up_identify_box .fact_identify{overflow: hidden;/*display: box;display:-webkit-box;-webkit-box-pack: start;*/width:100%;}
.up_identify_box .example_identify dl,.up_identify_box .fact_identify dl{margin-right:.06rem;overflow: hidden;float:left;margin-bottom:.1rem;}
.playbtn{position: absolute;font-size: 32px;top:0;left:0;right:0;line-height: 1.89rem;color:#000;}
.up_identify_box .example_identify dl:nth-of-type(3n),.up_identify_box .fact_identify dl:nth-of-type(3n){margin-right:0;}
.up_identify_box .example_identify dt,.up_identify_box .fact_identify dt{background: #fff;background: #fff;border:1px #efefef solid;border-radius: 5px;width:2.24rem;height:1.67rem;position: relative;}
.up_identify_box .fact_identify dt{background: #e4d9d9;width:2.25rem;height:1.89rem;overflow: hidden;text-align: center;line-height: 1.89rem;}
.up_identify_box .fact_identify dt img{max-width: 100%;height:auto;display: inline-block;/*position:absolute;bottom:0;top:0;left:0;right:0;margin:auto;*/vertical-align: middle;}
.up_identify_box .fact_identify dt input{width:100%;height:1.89rem;opacity: 0;}
/*.up_identify_box .example_identify dl:last-of-type,.up_identify_box .fact_identify dl:last-of-type{margin-right: 0;}*/
.example_identify .Idcard img{width:1.9rem;height:auto;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.example_identify .Idcard .tips{width:.76rem;height:12px;line-height: 14px;color:#fff;background: #eab96a;position: absolute;font-size: 7px;text-align: center;
border-radius:0 20px 20px 0;margin-top:3px;}
.up_identify_box .example_identify dd,.up_identify_box .fact_identify dd{text-align: center;height:.56rem;line-height: .56rem;color:#777;font-size:11px;}
.example_identify .personimg img{width:100%;}
/*身份审核通过*/
.identity_audit_pass{text-align: center;padding:.4rem 0 .6rem;background: #fff;}
.identity_audit_pass i{font-size:2rem;}
.identity_audit_pass h3.jump_tipscon{margin-top:0;color:#000;}
/*不通过*/
.identity_audit_pass .audit_des{color:#303030;font-size: 12px;text-align: left;line-height: 18px;padding:.2rem .3rem 0;}
/*图片与视频认证*/
.up_identify_box .upload_more_title{padding:.3rem 0;}
.up_identify_box .upload_more_title h3{line-height: .5rem;font-size: 15px;color:#666;}
.up_identify_box .upload_more_title p{line-height: 20px;font-size: 11px;color:#777;}
/*点赞列表页*/
.praised_list{overflow: hidden;}
.praised_list li{padding:0 .3rem;overflow: hidden;border-bottom: 1px #efefef solid;}
.praised_list li .praised_block{height:1.4rem;display: -webkit-box;display: box;-webkit-box-align: center;-webkit-box-pack: justify;}
.praised_list_left .avatar{display: inline-block;width:.8rem;height:.8rem;border-radius:50%;overflow: hidden;vertical-align: middle;margin-right:.2rem;}
.praised_list_left .avatar img{width:100%;height:100%;display: block;}
.praised_list_left h3{display: inline-block;color:#303030;font-size: 14px;vertical-align: middle;}
.praised_list_left h3 .usersex{color:#eab96a;font-size:12px;display: block;margin-top:.1rem;}
.praised_list_left h3 .usersex i{margin-right:.1rem;font-size: 14px;}
.praised_list_left{font-size:0;}
.praised_list_right .attractive{color:#999;font-size: 12px;}
.praised_list_right .attractive .numbers{margin-left:.2rem;font-size: 15px;color:#fd6a56;font-weight: bold;margin-right:.14rem;}
.praised_list_right .attractive .ico{color:#fd6a56;font-size: 15px;}
/*我的钱包*/
.purse_list{padding-top:.6rem;padding-bottom:.4rem;background: #fff;border-bottom:1px #efefef solid;}
.purse_list_top{display: -webkit-box;display: box;-webkit-box-pack: center;}
.purse_list .purse_ico{width:1.57rem;height:1.57rem;display: block;}
.purse_list .purse_ico img{width:100%;height:auto;display: block;}
.purse_list .purse_list_tright{margin-left:.4rem;}
.purse_list .balance{color:#777777;line-height: .7rem;display: block;}
.purse_list .numbers{color:#eab96a;display: block;line-height: .8rem;}
.purse_list .numbers i{font-size: 30px;margin-right:.4rem;}
.purse_list_top{padding-bottom:.48rem;border-bottom:1px #efefef solid;}
.purse_list_bottom span{width:5.9rem;margin:.4rem auto;border:1px #eab96a solid;}
.purse_list_bottom  p{color:#303030;text-align: center;}
.puse_bills_con{overflow:hidden;background: #fff;}
.puse_bills_con li{border-bottom:1px #efefef solid;display:-webkit-box;display: box;-webkit-box-pack: justify;-webkit-box-align: center;}
.puse_bills_con li .puse_bills_left{max-width: 75%;padding:.2rem 0 .4rem;}
.puse_bills_con li .puse_bills_left h3{color:#303030;margin-bottom:.2rem;text-align: justify;word-break: break-word;}
.puse_bills_con li .puse_bills_left  time{color:#777;font-size: 11px;}
.puse_bills_con li .puse_bills_right{font-size: 15px;color:#303030;}
/**/
.choose_account{position:absolute;bottom:0;width:100%;max-width: 750px;background: #fff;z-index:99;}
.choose_account .title{position:relative;height:45px;line-height:45px;background:#eab96a;font-size: 18px;color:#fff;text-align: center;}
.choose_account .title .closed{font-size: 14px;position: absolute;right:.3rem;top:0;}
.choose_account li{display:-webkit-box;display: box;-webkit-box-pack: justify;-webkit-box-align: center;height:1.4rem;}
.choose_account li .payico{position: absolute;font-size:.4rem;}
.alipay{color:#46cdfc;}
.cardpay{color:#f4a074;}
.wxpay{color:#8ad86a;}
.choose_account li .paydes{padding-left:.64rem;}
.raper{position:fixed;top:0;bottom:0;background: rgba(0,0,0,.8);z-index:9;overflow: hidden;width:100%;max-width: 750px;}
.hide{max-height: 0;transition: all .3s ease-in;opacity: 0;}
.show{max-height: 999;transition: all .3s ease-in;opacity: 9;}
.choose_account .paydes span{display: block;line-height: 14px;}
.choose_account .paydes em{display: block;margin-top:4px;}
.choose_account .choose{color:#a1a9b1;font-size: .4rem;}
.choose_account .choosed .color_y{color:#eab96a;}
/*兑换美币*/
.exchange_dollar li{padding:.3rem;}
.exchange_dollar .accountname{color:#303030;}
.exchange_dollar .input_exchange{margin-left: .72rem;}
.exchange_dollar input{}
.bottomblock{width:100%;max-width: 750px;bottom:0;background: #fff;border-top:1px #e5e5e5 solid;position: fixed;}
.nowpay{width:2.4rem;background: #eab96a;display: block;height:46px;line-height: 46px;text-align: center;color:#fff;font-size: 16px;margin-left:.2rem;}
.bottomblock .total{font-size:12px;color:#303030;}
.bottomblock .total i.numbers{font-size:18px;}

/*约会管理*/
.date_list_header{width:100%;background: #fff;height:45px;line-height:45px;color:#efefef;}
.date_list_header .headertab{display: inline-block;margin:0 auto;text-align: center;padding:0 .2rem;height:45px;}
.date_list_header div.current .headertab{border-bottom:2px #eab96a solid;}
.date_list_header div{color:#303030;font-size:15px;text-align: center;width:48%;display: inline-block;}
.date_list_header div.current{color:#eab96a;}
.date_list_con{}
.date_list_con section{width:100%;display: none;}
.date_list_con section li{padding-left:.3rem;margin-top:.2rem;background: #fff;}
.date_list_con .date_item_des div.flex{padding-right:.3rem;padding-top:.2rem;padding-bottom:.2rem;}
.date_list_con .itemsname{margin-right:.2rem;}
.date_list_con time,.date_list_con address{font-size: 11px;color:#666;line-height: 11px;}
.date_list_con time i,.date_list_con address i{color:#c2c2c2;margin-right:.1rem;font-size:13px;vertical-align: middle;}
.date_list_con address{margin-top:.05rem;}
.date_type{font-size: 12px;}
.fixed_r_submit{width:66px;height:66px;border-radius: 50%;position:fixed;right:.3rem;bottom:.6rem;text-align: center;color:#fff;font-size: 15px;box-shadow: 0 5px 8px rgba(254,202,195,.8);border:1px #fff solid;display:-webkit-box;display: box;-webkit-box-align: center;-webkit-box-pack: center;background: -webkit-linear-gradient(top,#fe9872,#fd6a56);background: linear-gradient(top,#fe9872,#fd6a56);}
/*约会详情页*/
.date_detail_place{padding-bottom:.4rem;border-bottom:1px #efefef solid;background: #fff;}
.date_detail_place .title{/*line-height: 1.1rem;*/font-size:16px;line-height: .72rem;}
.date_detail_place .place{width:2rem;height:2rem;display: block;overflow: hidden;position:absolute;}
.date_detail_place .place_pic{height:2rem;}
.date_detail_place .place img{width:100%;height:auto;display: block;}
.date_detail_place .place_info{padding-left:2.18rem;}
.date_detail_place .place_info .userinfo{font-size:15px;line-height: 18px;margin-top:.08rem;margin-bottom:.77rem;}
.date_detail_place .place_info .userinfo span{display: inline-block;width:.64rem;height:18px;background: #eab96a;color:#fff;text-align: center;font-size: 10px;border-radius: 3px;margin-left:5px;}
.date_detail_place .otherinfo address{margin-top:.2rem;}
@media (min-width: 320px) and (max-width: 374px) {
	.date_detail_place .place_info .userinfo{margin-bottom:.5rem;}
}
.date_detail_des .detail_des_con{padding:.15rem 0;color:#666;font-size: 12px;line-height: 17px;background:#fff;}
.date_detail_des .detail_des_mark{padding:.24rem .3rem 0;background: #fff;font-size:0;}
.date_detail_des .detail_des_mark .mark{display: inline-block;width:1.5rem;height:28px;color:#fff;font-size: 14px;text-align: center;line-height: 28px;background: #eab96a;border-radius: 25px;margin-right:.2rem;margin-bottom:.2rem;}
.date_detail_des .detail_des_mark .mark:nth-of-type(4n){margin-right:0;}
/*编辑约会*/
.edit_date_box ul{background: #fff; padding-left:0.3rem;}
.edit_date_box .edit_date_items{height:.9rem;line-height: .9rem;position: relative;}
.edit_date_box .edit_date_items:after{content: " ";position:absolute;right:.3rem;width: 8px;height: 8px;border: 2px solid #c8c8c8;border-bottom: 2px solid transparent;border-left: 2px solid transparent;-webkit-transform: rotate(45deg);transform: rotate(45deg);top:50%;margin-top:-4px;}
.edit_date_box .noafter .edit_date_items:after{width: 0;height: 0;border:none;border-left: none;border-bottom: none;}
.edit_date_box .edit_l_con{width:1.5rem;color:#000;}
.edit_date_box .edit_r_con{color:#777;width:5.2rem;}
.edit_date_box .edit_r_con input{width:100%;}
.edit_date_desc{padding-top:.15rem;background: #fff;}
.edit_date_desc .title{color:#000;line-height: .6rem;}
.edit_date_desc .text_con,.edit_date_desc .text_con textarea{width:100%;height:1.6rem;}
.edit_date_desc .text_con textarea{padding:.1rem 0;font-size:12px;color:#777;border:none;text-align: justify;}
.edit_date_box .edit_r_marks{width:80%;overflow: hidden;padding:.1rem .6rem .1rem 0;}
.edit_r_marks a{width:1.6rem;height:28px;display: inline-block;border:1px #ccc solid;line-height: 28px;text-align: center;border-radius: 15px;
color:#444;position:relative;}
.edit_r_marks a i{position: absolute;left:0;top:0;font-size: 14px;line-height: 0;}
.edit_date_box .marks_edit{height:auto;}
/*选择标签弹窗*/
.choose_mark .title{font-size: 14px;}
.choose_mark{padding-bottom:.2rem;}
.choose_mark li{height:70px;width:20%;}
.choose_mark .cancel{position:absolute;left:.3rem;}
.choose_mark__items ul{overflow: hidden;}
.choose_mark__items ul li{float:left;}
.choose_mark .r_btn{right:.3rem;position:absolute;}
.choose_mark .r_btn .complete{margin-left:.5rem;font-size: 15px;}
.choose_mark__items .choose_marks{text-align: center;margin:0 auto;}
.choose_mark__items .choose_marks span{display: block;color:#e8b967;font-size:24px;height:42px;line-height: 40px;width:.8rem;text-align: center;}
.choose_mark__items .choosed span{border:1px #e8b967 solid;border-radius: 3px;margin-bottom:5px;}
.choose_mark__items .choose_marks i{font-size:11px;color:#666666;}
/*订单管理*/
.order_header div{width:30%;}
.order_header .headertab{position:relative;}
.order_header .current .headertab .tips_ico{position: absolute;width:8px;height:8px;background: red;border-radius: 50%;top:50%;right:0;margin-top:-8px;
;-webkit-border-radius: 50%;}
.place_info_desc{height:1.2rem;}
.place_info_desc .place{width:1.2rem;height:1.2rem;position:absolute;}
.place_info_desc .place img{width:100%;height:auto;display: block;}
.place_info_desc .place_info{padding-left:1.4rem;}
.place_info_desc .userinfo{margin-bottom:.15rem;}
.groupbtn span{display: inline-block;padding:0 .35rem;height:25px;line-height: 23px;border-radius: 3px;font-size: 12px;}
.groupbtn span.refuse{border:1px #e0e0e0 solid;color:#666;margin-right:.1rem;}
.groupbtn span.orders{border:1px #eab96a solid;color:#eab96a;}
@media (min-width: 320px) and (max-width: 374px) {
	.place_info_desc .userinfo{margin-bottom:0;}
}
/*订单列表*/
.header .menu{font-size:18px;}
.navbar{height:1.35rem;width:100%;background: #1a1713;font-size:13px; padding-top:.1rem;}
.navbar ul{height:1.35rem;}
.navbar a{color:#eab96a;display: block;width:1.2rem;height:28px;line-height: 28px;background: #221f1d;text-align: center;border-radius: 2px;}
.navbar .current a{background:#eab96a; color:#fff;}
.find_list_box{padding-top:.1rem;overflow: hidden;}
.find_list_box dl{width:3.33rem;float:left;margin-right:.2rem;margin-top:.3rem;}
.find_list_box dl:nth-of-type(2n){margin-right:0;}
.find_list_box dt{width:3.33rem;height:3.33rem;overflow: hidden;position: relative;box-shadow: 0 0 3px rgba(0,0,0,.2);border-radius: 3px;}
.find_list_box dt img{height:100%;width:100%;display:block;}
.find_list_box dt h1{width:100%;height:20px;bottom:0;position: absolute;background: rgba(234,185,106,.8);border-radius: 0 0 3px 3px;font-size:10px;
color:#fff; line-height: 20px;padding-right: .1rem;}
.find_list_box .find_list_con{height:34px;}
.find_list_con span{ display: block;}
.find_list_con span i{margin-right:.08rem;}
.find_list_con span.userinfo{font-size:12px;color:#eab96a;}
.find_list_con span.userinfo .iconfont{font-size:14px;vertical-align: middle;}
/*筛选*/
.choose_parmes{position: absolute;margin-top:1rem;height:230px;background: #1a1713;width:100%;padding-top:20px;}
.choose_parmes .height_left{display: block;width:20%;margin-top:10px;font-weight: bold;}
.choose_parmes .height_left i{font-size: 8px;vertical-align: bottom;font-weight: normal;}
.choose_parmes .scale{width:80%;}
.choose_parmes .scale input{width:100%;}
.choose_parmes input[type="range"] {/*background: rgba(56,48,36,1);*/background:#fff;border-radius: 15px;-webkit-appearance: none;height:6px;}
 .choose_parmes input[type="range"]::-webkit-slider-thumb {-webkit-appearance: none;cursor: default;height: 20px;width: 20px;background: none repeat scroll 0 0 #fff;border-radius: 50%;-webkit-box-shadow: 0 -1px 1px black inset;position: relative;z-index:999;}
.scale_value{font-size:12px;color:#fff;}
.choose_parmes .line{font-size: 12px;color:#eab96a;}
.choose_parmes .sure{background: #eab96a;color:#fff;}
.height{margin-bottom:30px;}
/*
 个人主页
 */

.home_page .header{background:url(../images/home_page_bg.jpg) no-repeat top center;background-size:contain;height:6.2rem;}
.home_page .header span{color:#fff;font-size: 20px;;}
.home_page_basic{background: #fff;padding-top:.4rem;}
.home_page_basic .home_name{position:relative;color:#170e00;font-size: 18px;}
.home_page_basic .home_name em{position:absolute;font-size: 10px;color:#959da7;}
.home_page_basic .home_name em i{margin-right:.05rem;}
.home_page_basic .home_name_info{color:#959da7;font-size: 12px;margin-top:.36rem;}
.home_page_basic .home_name_info .iconfont{font-size: 14px;}
.home_page_basic .commend{margin-top:.3rem;font-size: 12px;color:#eab96a;padding-bottom:.4rem;border-bottom:1px #efefef solid;}
.home_page_basic .otherinfo{overflow: hidden;padding:.22rem 0;}
.home_page_basic .otherinfo li:last-of-type{border-right:none;}
.home_page_basic .otherinfo li{text-align: center;border-right:1px #efefef solid;width:1.85rem;}
.home_page_basic .otherinfo .t_desc{display: block;color:#170e00;font-size: 14px;margin-bottom:6px;}
.home_page_basic .otherinfo .b_desc{color:#959da7;font-size: 12px;}
.home_pic_info,.home_basic_mark,.home_basic_ability{background: #fff;padding:.4rem 0;}
.home_pic_info ul{overflow: hidden;}
.home_pic_info li{width:1.6rem;height:1.6rem;border-radius: 5px;overflow: hidden;}
.home_pic_info li img{width:100%;height:auto;overflow: hidden;}
.home_pic_info li a.ablock{position: relative;width:1.6rem;height:1.6rem;z-index: 1;}
.home_pic_info li a.ablock span{line-height: 1.6rem;width:1.6rem;height:1.6rem;font-size: 12px;color:#fff;position: absolute;background: rgba(0,0,0,0.6);z-index:999;top:0;left:0;text-align: center;}
.home_pic_info .home_video{width:100%;height:3.2rem;border-radius: 5px;overflow: hidden;}
.home_pic_info .home_video img{width:100%;height:auto;display: block;}
.home_basic_mark .title,.home_basic_ability .title{font-size: 15px;color:#1b1612;font-size:15px;}
.home_basic_mark .con{padding:.4rem 0;font-size: 0;}
.home_basic_mark .con a{display: inline-block;color:#fff;font-size: 14px;background: #eab96a;border-radius: 15px;height:28px;line-height: 28px;
padding:0 .4rem;margin-right:10px;margin-bottom:10px;}
.home_basic_mark .bottom{border:1px solid #eab96a;border-radius: 5px;color:#666;padding:.3rem;}
.home_basic_mark .bottom .title,.home_basic_mark p{font-size: 12px;line-height: 20px;}
.home_basic_mark p{text-align: justify;}
.home_basic_ability ul{overflow: hidden;padding-top:.16rem;}
.home_basic_ability li{padding:.2rem 0;}
.home_basic_ability .itms{height:28px;}
.home_basic_ability .items .date{width:1.2rem;height:28px;display: inline-block;border-radius:3px;line-height: 28px;background: #EAB96A;text-align: center;color:#fff;}
.home_basic_ability .items_name{font-size: 15px;color:#000;}
.home_basic_ability .items_name i{font-size:20px;vertical-align: middle;margin-right:.2rem;}
.home_basic_ability  .price{color:#eab96a; font-size:12px;margin-right:.1rem;}
.home_basic_ability  .price i{font-size: 18px;margin-right:.1rem;}
.itms_list .more{padding:.2rem 0;}
.itms_list .more i{font-size: 22px;}
/*查看微信*/
.home_seach_info,.home_seach_otherinfo{background: #fff;padding:.1rem 0 .1rem .3rem;}
.home_seach_info li,.home_seach_otherinfo li{padding-right:.3rem;}
.home_seach_info .items span,.home_seach_otherinfo .items span{display: block;}
.home_seach_info .items span.golook,.home_seach_otherinfo .items span.golook{font-size: 12px;color:#999;}
.home_seach_info .items,.home_seach_otherinfo .items{height:45px;}
.home_seach_info .items .golook i,.home_seach_otherinfo .items .golook i{font-size: 12px;margin-left:.2rem;color:#d7dade;}
.home_seach_otherinfo .items .seach_name{margin-right:.1rem;width:1.7rem;}
.home_seach_otherinfo .items .sport_items{width:2.5rem;}
.home_seach_otherinfo .items .golook .r_icon{color:#959da7;font-size: 14px;}
.home_page_footer li a{font-size:16px;color:#000;}
.home_page_footer li a.active{color:#EAB96A;}
.home_page_footer li a.active i{color:#EAB96A;}
.home_page_footer li i{margin-right:.08rem; color:#666;}
.togift{width:50px;height:50px;background: #eab96a;border-radius: 50%;position: fixed;bottom:60px;right:.3rem;box-shadow: 0 0 3px rgba(234,185,106,.3);z-index: 10;}
.togift i{font-size:23px;color:#fff;}
/*分享*/
.share_items_list{padding:.2rem 0 0 0;background: #fff;}
.share_items_list .title{color:#eab96a;font-size: 16px;line-height: 38px;}
.share_items_list .desc{line-height: ;font-size:12px;line-height: 18px;text-align: justify;}
.share_items_list  .share_desc{display: block;text-align: center;font-size: 10px;color:#959da7;padding:.4rem 0;}
.share_items_list  .share_desc strong{margin-top:.1rem;color:#000;font-size: 18px;}
.share_to_platform{overflow: hidden;}
.share_to_platform li{float:left;width:25%;text-align: center;margin-bottom:.3rem;}
.share_to_platform li i{display: block;font-size: 43px;margin-bottom:8px;}
.share_to_platform li a{color:#333;font-size:12px;}
.color_wx{color:#8ad86a;}
.color_friends{color:#f4a074;}
.color_qq{color:#93a8f7;}
.color_qzooe{color:#46cdfc;}
.color_weibo{color:#f38382;}
.color_tencent{color:#7ecef4;}
.color_copy{color:#a0bbcc;}
.share_code{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: box;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align:center ;}
.share_code .qr_code{width:4rem;height:4.5rem;background: #fff;margin:0 auto;text-align: center;}
.share_code .qr_code img{width:2.6rem;height:2.6rem;margin-top:.68rem;}
.share_code h3{font-size: 12px;color:#EAB96A;margin-top:.4rem;}
.share_code h3 i{font-size: 15px;color:#333333;}
.share_code p{margin-top:.2rem;font-size: 12px;color:#999;}
.share_code h1{font-size: 11px;color:#eab96a;bottom:20px;position: absolute;}
.share_sucess_tips{height:45px;width:100%;background: #fff3de;text-align: center;line-height: 45px;font-size: 12px;}
.share_sucess_tips .ablock{color:#674f30;padding:0 .3rem;}
.share_num{background: #fff;height:45px;}
.share_num span{display:block;font-size: 15px;}
.share_num_list .totalnum{font-size:12px;color:#999;}
.share_num_detail{background: #fff;overflow: hidden;}
.share_num_detail li{padding:.4rem .3rem;}
.share_num_detail .share_list_leftcon .avatar{width:.8rem;height:.8rem;border-radius: 50%;overflow: hidden;display: block;position: absolute;}
.share_num_detail .share_list_leftcon .avatar img{width:100%;height:100%;}
.share_list_leftcon h3{padding-left:1rem; padding-top:.08rem;}
.share_list_leftcon h3 span{display: block;}
.share_list_leftcon .avatar_name .age{color:#999999;font-size: 12px;}
.share_list_leftcon .avatar_name .iconfont{margin-left:.1rem;vertical-align: middle;font-size: 13px;}
.share_list_leftcon .beauty{margin-top:.1rem;}
.share_list_leftcon .beauty i{margin-left:.1rem;}
.share_list_rightcon i{font-size: 15px;margin-right:15px;}
/*弹窗*/
.popup{width:5.8rem;background: #fff;border-radius: 5px;padding:.7rem 0 0;font-size: 16px;}
.wx_popup{position:relative;margin-top:-60px;}
.popup .popup_con{color:#000000;line-height: 24px;padding:0 .2rem .4rem;}
.popup .popup_footer{height:44px;line-height: 44px;}
.popup .popup_footer span.footerbtn{display: block;width:50%;text-align: center;box-shadow: 0 -1px 0 rgba(0,0,0,.2);}
.popup .popup_footer span.cancel{color:#7f7f7f;}
.popup .popup_footer span.gopay{color:#fff;background: #eab96a;border-radius: 0 0 5px 0;}
.popup .wx_copy_con{padding:.2rem .1rem;}
.popup .wx_copy_con li{height:30px;line-height: 30px;margin-bottom:.2rem;}
.popup .wx_copy_con span{display: block;font-size:15px;color:#666666;}
.popup span.wx_r_copy{width:1.3rem;height:30px;border:1px #EAB96A solid;color:#EAB96A;text-align: center;border-radius: 3px;}
.wx_tips{text-align: center;color:#666;margin-top:10px;padding-bottom:10px;border-bottom:1px #efefef solid;}
.wx_care_tips{text-align: center;color:#666;font-size: 10px;padding-top:10px;}
.wx_user{position: relative;width:1.9rem;display: inline-block;}
.wx_user i{position: absolute;top:-10px;font-size: 22px;right:-22px;}
.popup .closed{position: absolute;font-size:26px;bottom:-60px;color:#fff;left:50%;margin-left:-13px;}
.tracle_list{padding-top:.4rem;background: #ffffff;}
.tracle_list .title{}
.tracle_list .title .user_info{padding-left:1rem;}
.tracle_list .title .user_info span{display: block;color:#eab96a;margin-top:.1rem}
.tracle_list .title .user_info time{font-size:12px;color:#a0a0a0;}
.tracle_list .focusbtn{width:1.2rem;border:1px #efefef solid;color:#EAB96A;display: block;height:30px;line-height: 28px;text-align: center;}
.tracle_list .avatar{width:.82rem;height:.82rem;overflow: hidden;position: absolute;border-radius: 50%;}
.tracle_list .avatar img{}
.tracle_list .con{padding-top:.2rem;}
.tracle_list .con .text{text-align: justify;line-height: 20px;color:#333;}
.piclist_con{overflow: hidden;margin-top:.2rem;padding-bottom:.2rem;}
.piclist_con li{width:2.22rem;height:2.22rem;overflow: hidden;float:left;border-radius: 5px;margin-right:.1rem;margin-bottom:.1rem;}
.piclist_con li:nth-of-type(3n){margin-right: 0;}
.piclist_con li img,.tracle_list .avatar img,.items_left_picinfo img{display: block;width:100%;height:100%;}
.tracle_footer{height:35px;border-top:1px #efefef solid;color:#808080;}
.tracle_footer span{display: block;font-size: 13px;}
.tracle_footer span i{font-size: 14px;margin-right: .1rem;}
/*她的约会*/
.female_date_list{overflow: hidden;background: #fff;}
.female_date_list li{padding:.24rem 0;}
.female_date_list .items_date_info{height:1.92rem;}
.female_date_list  .items_left_info{height:1.92rem;border-right:1px #efefef solid;}
.female_date_list .items_date_info .items_left_picinfo{width:1.92rem;height:1.92rem;position: absolute;}
.items_left_picinfo img{}
.items_left_textinfo{padding-left:2.1rem;width:5.8rem;height:1.92rem;position: relative;padding-right:.12rem;}
.items_left_textinfo h3{color:#404040;}
.items_left_textinfo address{position: absolute;bottom:.1rem;}
.items_right_info{margin-right: .3rem;}
.items_right_info span{display: block;text-align: center;font-size: 13px;}
.items_right_info span.color_gray{color:#999;}
.items_right_info span.color_gray .iconfont{color:#ccc;}
.items_right_info span .iconfont{display: block;font-size: 18px;}
.getdatebtn{margin-top:.3rem;}
/*评选*/
.voted_list li{margin-top:.4rem;border:1px #e5e5e5 solid;border-radius: 5px;background: #fff;}
.voted_list li .title{border-bottom:1px #efefef solid;padding:0 .3rem;height:30px;}
.voted_list li .title span{display: block;}
.voted_list li .title .iconfont{font-size: 16px;}
.voted_list li .title .r_con{font-size: 12px;}
.voted_list .voted_place{background: url(icon/tou.png) no-repeat center center;background-size:contain;display: block;width:.6rem;height:.68rem;text-align: center;line-height: .62rem;font-size: 18px;color:#666;font-weight: bold;}
.voted_list .avatar{width:.86rem;height:.86rem;display:block;position: absolute;border-radius: 50%;overflow: hidden;}
.voted_list .avatar img{width:100%;height:auto;display: block;}
.voted_list .voted_con{padding:.2rem .3rem;}
.voted_list .voted_place_info{height:.86rem;margin-right:.2rem;}
.voted_list .voted_place_info h3{padding-left:1.1rem;padding-top:.1rem;}
.voted_list .voted_place_info h3 span{display: block;}
.voted_list .voted_name{color:#1a1713;font-weight: 800;}
.voted_list .voted_number{font-size: 12px;margin-top:.12rem;}
.voted_list .voted_number .iconfont{font-size: 14px;vertical-align: middle;}
.voted_list .voted_con .button{}
.imgchange{font-size: 24px;position:absolute;bottom:0;right:0;color:rgba(0,0,0,.5);line-height: normal;}
/*约会详情*/
.find_date_detail .date_top_con .place{width:1.6rem;height:1.6rem;overflow:hidden;display: block;}
.find_date_detail .date_top_con .place img{width:100%;height:auto;display: block;}
.find_date_detail  .date_top_con{padding-top:.4rem;background: #fff;padding-bottom:.4rem;}
.find_date_detail .date_des .con{padding-left:.3rem;padding-right: .3rem;background: #fff;}
.find_date_detail .date_top_con_right{position:relative;margin-left:.2rem;height:1.6rem;width:5rem;}
.find_date_detail .date_top_con_right span{display: block;}
.find_date_detail .date_ability{color:#EAB96A;font-size:15px;line-height: 30px;}
.find_date_detail .date_guest{position:absolute;bottom:.2rem;color:#1a1713;}
.find_date_detail .date_guest i{margin-left:.08rem;}
.find_date_detail .date_much{position: absolute;bottom:.2rem;right:0;font-size: 12px;color:#EAB96A;}
.find_date_detail .date_much i{font-size: 18px;font-weight: 400;}
.find_date_detail .date_keyword{padding-top:.2rem;padding-bottom:.2rem;font-size: 13px;line-height: 18px;color:#666;}
.find_date_detail .con_mark{font-size: 0;padding:.2rem 0 .1rem;}
.find_date_detail .con_mark a{display: inline-block;width:1.6rem;height:30px;line-height:30px;color:#fff;font-size:14px;background: #EAB96A;border-radius: 20px;text-align: center;margin-bottom:.2rem;margin-right: .15rem;}
.find_date_detail .con_mark a:nth-of-type(4n){margin-right: 0;}
.find_date_detail .con li,.find_date_detail .date_time{height:45px;}
/*选择约会地点*/
.search_bar{margin:.2rem 0;}
.search_bar .search{width:100%;background: #fff;height:36px;border-radius: 20px;}
.search_bar .search input{width:100%;height:26px;margin-top:5px;text-align: center;}
.place_filter_tab .filter_tab_header{background: #fff;border-bottom:1px #efefef solid;}
.place_filter_tab .filter_tab_header span{display: block;text-align: center;width: 50%;height:45px;line-height: 45px;border-right:1px #efefef solid;}
.place_filter_tab .filter_tab_header i{color:#999;margin-left:.1rem;}
.filter_tab_content{background: #fff;}
.filter_tab_con{background: #fff;overflow:hidden;width:100%;text-align: center;}
.tab_show{max-height:999px;transition: max-height .3s ease-in;}
.tab_hide{max-height:0;transition: max-height .3s ease-in;}
.filter_tab_con{overflow:hidden}
.filter_tab_con li{height:40px;line-height: 40px;}
.find_place_list{background: #fff;}
.find_place_list li{padding:.25rem 0;}
.find_place_list .items{height:1.6rem;}
.find_place_list .con_left{height:1.6rem;}
.find_place_list .con_left .place_info{padding-left:1.7rem;position: relative;height:1.6rem}
.find_place_list .con_left .place_info span{display: block;}
.find_place_list .con_left .place_name{line-height: .66rem;color:#404040;font-weight: 600;}
.find_place_list .con_left .place_address{color:#777;font-size: 12px;}
.find_place_list .con_left .con_mark{position:absolute;bottom:0;}
.find_place_list .con_left .mark_name{display: inline-block;width:.7rem;height:18px;background: #EAB96A;color:#fff;font-size: 11px;text-align: center;border-radius: 0 12px 12px 0;line-height: 18px;}
.find_place_list .con_right .con_detail{margin-bottom:.52rem;width:1.4rem;}
.find_place_list .place_img{width:1.6rem;height:1.6rem;display: block;position:absolute;}
.find_place_list .place_img img{width:100%;height:auto;display: block;}
/*餐厅详情*/
.find_room_pic{width:100%;height:5.3rem;overflow: hidden;}
.find_room_pic img{width:100%;height:auto;display: block;}
.find_room_bottm{background: #fff;padding:.3rem;border-bottom:1px #efefef solid;}
.find_room_bottm .room_name{font-size: 18px;font-weight: bold;}
.find_room_bottm .room_name i{color:#777777;font-size: 12px;font-weight: normal;margin-left:.2rem;}
.find_room_bottm .con_mark{margin-top:.3rem;}
.find_room_bottm .con_mark .mark_name{display: inline-block;width:.7rem;height:18px;background: #EAB96A;color:#fff;font-size: 11px;text-align: center;border-radius: 0 12px 12px 0;line-height: 18px;}
.find_room_link{background: #fff;}
.find_room_link .link_list .link_list_detail{height:45px;border-bottom:1px #efefef solid;line-height: 45px;width:6.9rem;}
.find_room_link .link_list .link_list_detail .con_text{display:inline-block;width:6rem;}
.find_room_link .link_list .link_list_detail .iconfont{color:#959da7;font-size: 12px;}
.find_room_link .link_list:last-of-type .link_list_detail{border-bottom:none;}
.find_room_link .link_list .l_con{font-size: 16px;color:#c2c2c2;width:.6rem;display: block;}
.find_room_coast{background: #fff;padding:.2rem .3rem;}
.find_room_coast .coast_text i{font-size: 18px;margin-right: .1rem;vertical-align: middle;}
/*支付成功跳转页面*/
.find_pay_con .con{background: #fff;padding:.2rem .3rem;height:45px;}
.find_pay_check{background: #fff;padding-top:.4rem;border-top:1px #efefef solid;padding-bottom:.4rem;}
.find_pay_check .paycheck{margin-bottom:3.5rem;}
.pay_notenough h3.jump_tipscon{color:#EAB96A;}
.payment_list{border-top:1px #efefef solid;}
.payment_list ul{overflow: hidden;background: #fff;}
.payment_list li{height:45px;}
.payment_list .nowpaytips{margin-top:.2rem;font-size: 12px;color:#666;}
.payment_list .nowpaytips i{font-size: 15px;}

/**/
.payment_choose_account{width:100%;background: #fff;}
.payment_choose_account li{display:-webkit-box;display: box;-webkit-box-pack: justify;-webkit-box-align: center;height:1.4rem;}
.payment_choose_account li .payico{position: absolute;font-size:.4rem;}
.payment_choose_account li .paydes{padding-left:.64rem;}
.payment_choose_account .choose{color:#a1a9b1;font-size: .4rem;}
.payment_choose_account .choosed .color_y{color:#eab96a;}

/*她的技能*/
.find_ability .choose_mark__items li{width:20%;padding:.2rem 0 .1rem;}
.find_ability .choose_marks span{margin:0 auto;}

/*土豪榜*/
.rich_header{background: url(../images/rich.jpg) no-repeat center center;background-size: contain;width:100%;height:1.2rem;}
.rich_list_first{padding-top:.4rem;padding-bottom:.2rem;border-bottom:1px #efefef solid;}
.rich_list_first .rich_first_left{padding-left:1.7rem;}
.rich_list_first  .first_info{margin-bottom:.2rem;overflow: hidden;position:relative;width:3.35rem;height:2.95rem;}
.rich_list_first  .first_info .first_info_bg{background: url(icon/first.png) no-repeat left top;background-size:contain;width:3.35rem;height:2.95rem;position: absolute;}
.rich_list_first  .first_info .first_info_img{width:2.25rem;height:2.25rem;overflow: hidden;border-radius: 50%;position: absolute;top:.32rem;left:.6rem;}
.rich_list_first  .first_info .first_info_img img{width:100%;height:auto;display: block;}
.rich_list_first .coast{font-size:12px;text-indent: .88rem;display: block;}
.rich_list_first .beauty{color:#826439;font-size:15px;margin-bottom:.2rem;}
.rich_list_first .rich_first_right{text-align: right;width:1.8rem;padding-bottom:1.4rem;}
/*与投票页面类似*/
.rich_list .voted_list li{margin-top:0;border:none;border-bottom:1px #efefef solid;padding:0 .3rem;}
.rich_list .voted_list li .voted_name{font-weight: bold;}
.rich_list .voted_list .voted_con{padding:.2rem 0}
.rich_list .voted_list .voted_place_info{margin-left:.2rem;}
.rich_list .voted_place_info h3{padding-top:.08rem;}
.rich_list .silver{background: url(icon/tou1.png) no-repeat center center;background-size:contain; width:.72rem;height:.62rem;}
.rich_list .voted_place{}
/*活动*/
.activity_list{}
.activity_list .date_list{position:fixed;top:0;margin:auto;max-width: 750px;width:100%;z-index:11;}
.activity_list .date_list_header div{width:30%;font-size:18px;}
.date_detail_place .place_info .userinfo .price{font-size: 12px;}
.activity_tips{background: rgba(0,0,0,.8);padding:.15rem .3rem;margin:auto;max-width: 750px;width:100%;color:#EAB96A;text-align: center;font-size: 13px;}
.commonfixed{position: fixed;top:45px;}
.common{font-size:12px;}
.common i{font-size: 14px;color:#ccc;margin-right:.1rem;}

/*约单支付成功*/
.date_pay_content{background: #1a1713;color:#EAB96A;padding:.5rem .3rem .3rem;border-top:1px #2a2014 solid;}
.date_pay_content .date_pay_leftcon .pay_tips{font-size: 16px;font-weight: 600;line-height: 33px;}
.date_pay_content .date_pay_leftcon p{margin-bottom:.2rem;}
.date_pay_rightcon .button{height:35px;width:2rem;line-height: 33px;margin-bottom:.2rem;}
.pay_detail_content{background: #fff;padding-top:.2rem;}
.pady_detail_tips{color:#666;text-align: center;height:1rem;line-height:1rem;}

/*派队轮播*/
.abanner{width:100%;height:4rem;overflow: hidden;}
.abanner ul{width:2000%;overflow: hidden;}
.abanner li{float:left;width:7.5rem;height:4rem;}
.abanner img{width:100%;height:auto;display: block;}
.party_content .items{background: #fff;margin-top:.2rem;}
.party_content .items .items_con{padding:.4rem .3rem;}
.party_content .items .items_time{font-size: 13px;color:#666;}
.party_content .ico{color:#c2c2c2;font-size: 14px;}
.party_content .items_pic{width:100%;max-height:2.8rem;overflow: hidden;}
.party_content .items_pic img{width:100%;height:auto;display: block;}
.party_content .items_adress{padding:.2rem 0.3rem;border-top:1px #efefef solid;color:#666;font-size: 13px;}
.party_content .items_adress .ico{margin-right: .2rem;}
.party_content .items_adress .button{width:1.6rem;}
/*约会详情*/
.activity_detail_box{width:100%;height:4rem;position: relative;}
.activity_detail_box img{width:100%;height:auto:display:block;}
.activity_detail_box .tips{position: absolute;bottom:0;color:#fff;background: rgba(0,0,0,.5);width:100%;text-align: center;height:33px;line-height: 33px;}
.activity_detail_bottomdes{background: #fff;padding:.2rem 0 .4rem;}
.activity_detail_bottomdes .desc{width:2.14rem;height:22px;background: #fbf1e1;margin:0 auto;text-align: center;border-radius: 0 20px 0 20px;}
.activity_detail_bottomdes .title{display: block;width:1.62rem;height:22px;line-height: 22px;margin:0 auto;background: #eab96a;border-radius: 0 20px 0 20px;font-size: 11px;color:#fff;}
.activity_detail_bottomdes .bottom_des{text-align: center;line-height: 18px;font-size: 12px;width:5.5rem;margin:0 auto;margin-top:.3rem;height:.76rem;position:relative;}
@media (min-width: 320px) and (max-width: 374px) {
	.activity_detail_bottomdes .bottom_des{width:6.5rem;}
}
.activity_detail_bottomdes .bottom_des .l_sprit{font-size: 15px;position: absolute;left:0;top:-6px;display: block;}
.activity_detail_bottomdes .bottom_des .r_sprit{font-size: 15px;display: block; -webkit-transform: rotate(180deg);transform: rotate(180deg);position: absolute;right:0;bottom:-8px;}
.activity_detail_adress li{height:45px;padding-left:.3rem;line-height: 45px;}
.activity_detail_adress li .iconfont{color:#c2c2c2;margin-right:.3rem;display: block;font-size: 15px;}
.activity_detail_adress li div{width:100%;}
.activity_detail_infomation{padding-left:.3rem;}
.activity_detail_infomation li{height:.9rem;}
.activity_detail_infomation li .r_info{padding-right:.3rem;}
.activity_detail_infomation .r_info_pic .avatar{width:.58rem;height:.58rem;overflow: hidden;display: block;border-radius: 50%;margin-right:.1rem}
.activity_detail_infomation .r_info_pic .avatar img{width:100%;height:100%;display: block;}
.activity_detail_infomation .r_info_pic .number{font-size: 12px;color:#999; margin-right:.1rem;}
.activity_detail_infomation .r_info_pic .iconfont{font-size: 12px; color:#959da7;}
.activity_detail_infomation .r_info_pic .sex{color:#666;margin-left:.2rem;}
.activity_initiate .content{padding-top:.2rem;padding-bottom:.2rem;}
.activity_initiate .title{height:45px;margin-left:.3rem;border-bottom:1px #efefef solid;line-height: 45px;}
.activity_initiate .avatar{width:.82rem;height:.82rem;overflow: hidden;display: block;border-radius: 50%;position: absolute;}
.activity_initiate .avatar img{width:100%;height:100%;display: block;}
.activity_initiate .r_info{padding-left:1rem;}
.activity_initiate .r_info h3.con_title{font-weight: 600;}
.activity_initiate .pic_info{width:100%;height:auto;}
.activity_initiate .pic_info img{width:100%;height:auto;}
.activity_initiate .bottom_info{padding-top:.2rem;padding-bottom:.2rem;}
.activity_initiate .bottom_info p{margin-bottom:.2rem;font-size: 13px;color:#666;text-align: justify;word-break:break-all;line-height: 18px;}
/*活动支付*/
.activity_pay_tips{background: #1a1713;text-align: center;color:#eab96a;height:26px;line-height: 26px;font-size: 12px;}
.activity_pay_detail{padding:.4rem .3rem;background: #fff;}
.activity_pay_detail .picinfo{width:2.8rem;height:2.2rem;overflow: hidden;margin-right: .2rem;}
.activity_pay_detail .picinfo img{width:100%;height:auto;display:block;}
.activity_pay_detail .r_info{padding-top:.2em;width:3.8rem;word-break: break-all;}
.activity_pay_detail .r_info div{font-size: 12px;margin-bottom:.1rem;}
.activity_pay_detail .r_info h3{margin-bottom:.3rem;}
.activity_pay_detail .r_info div .iconfont{color:#c2c2c2;margin-right: .1rem;}
@media only screen and (min-width: 320px) and (max-width: 360px) {
	.activity_pay_detail .r_info{padding-top:0;width:4.1rem;}
	.activity_pay_detail .r_info h3{margin-bottom:0;}
	.activity_pay_detail .r_info div{font-size: 12px;margin-bottom:.05rem;}
}
.activity_pay_num{background: #fff;border-top:1px #efefef solid;}
.activity_pay_num ul{overflow: hidden;}
.activity_pay_num ul li{height:45px;}
.buybox input{width:1rem;height:26px;border:1px #efefef solid;border-radius: 3px;text-align: center;}
.buybox .reduce{color:#efefef;font-size: 26px;height:26px;margin-right:5px;}
.buybox .add{color:#EAB96A;font-size: 25px;vertical-align: middle;margin-left:5px;}
.activity_pay_type .con{height:45px;line-height: 45px;background: #fff;}
/*头牌*/
.cover_image{width:100%;height:5.2rem;position: relative;overflow: hidden;}
.cover_image img,.cover_image .more img,.cover_bottom_header img{width:100%;height:auto;display: block;}
.cover_image .more{position: absolute;width:1.6rem;height:.56rem;bottom:.45rem;left:50%;margin-left:-.8rem;}
.cover_bottom_header{width:100%;height:2.6rem;overflow: hidden;}
.rank_list{background: #fff;}
.rank_list .rank_header{overflow: hidden;border-bottom:1px #efefef solid;}
.rank_list .rank_header li{float:left;height:32px;width:33.3%;text-align: center;line-height: 32px;}
.rank_list .rank_header li span{display: inline-block;padding:0 .2rem;height:32px;}
.rank_list .rank_header li.current span{border-bottom:2px #EAB96A solid;color:#eab96a;}
.rank_con .place {background: url(icon/tou.png) no-repeat center center;background-size: contain;display: block;width: .6rem;height: .68rem;
text-align: center;line-height: .62rem;font-size: 18px;color: #666;font-weight: bold;margin-right: .3rem;}
.rank_con .silver{background: url(icon/tou1.png) no-repeat center center;background-size: contain;width: .72rem;height: .62rem;display: block;color:#fd6a56;}
.invite{padding:.3rem .3rem;background: #fff;}
.rank_con li{padding:.2rem 0;}
.rank_con .place_info{height: .88rem;}
.rank_con .place_info .avatar{width:.88rem;height:.88rem;overflow: hidden;position: absolute;border-radius: 50%;}
.rank_con .place_info .avatar img,.rank_con .place_info h3 .place_name .cup img{width:100%;height:100%;display: block;}
.rank_con .place_info h3{padding-left:1rem;padding-top:.1rem;}
.rank_con .place_info h3 .place_name{display: block;}
.rank_con .place_info h3 .place_number{font-size: 12px;}
.rank_con .place_info h3 .place_name .name{font-weight: bold;}
.rank_con .place_info h3 .place_name .vip{display: inline-block;height:14px;width:32px;color:#fff;background: #fd6a56;line-height: 14px;border-radius: 2px;font-size: 9px;text-align: center;font-weight: 600;}
.rank_con .place_info h3 .place_name .cup{display: inline-block;width:.22rem;height:.24rem;}
.rank_con .place_info h3 .place_name i{margin-right:.1rem;}


